
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-4 " data-toggle="modal" data-target="#deleteModalLongTitle">
                Add Staffs
</button>

<div class="modal"  id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLongTitle"
aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you absolutely sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This action cannot be undone. This will permanently delete your account and remove your data from our servers.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>