<div class="topnav">
    <!-- Add your topnav content here -->
     <div class="row align-center">
        <div class="mobile-menu">
            <i class='bx bx-menu'></i>
        </div>
        <div class=" facilitylogo"> 
                <img src="/icons/icon-92x92.png" alt=""  >
                <h4>Stockify</h4>
             
        </div>
     </div>
    
    <div>
        <a href="/logout" style="cursor: pointer;">
                <i class='bx bx-log-out-circle' >
                </i>
            </a>
    </div>
</div>