 <!-- Export Dropdown -->
 <form action="" id="filterForm" method="get" class=" pt-5 align-items-center ">
    <div class="row g-3">
        <div class="col-md-4">
            <div class="form-group">
                <label for="startDate"
                    class="form-label fw-semibold">From</label>
                <input type="date" class="form-control" name="startDate"
                    required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="endDate" class="form-label fw-semibold">To</label>
                <input type="date" class="form-control" name="endDate"
                    required>
            </div>
        </div>
        <div class="align-items-baseline py-4">
            <button type="submit"
                class="btn btn-primary d-flex align-items-center gap-2 px-4 py-2 mt-2">
                <i class='bx bx-filter fs-5 px-2'> </i>
                <span class="fw-semibold">Filter</span>
            </button>
        </div>

    </div>
</form>